.main-content {
    margin-left: 260px;
    padding: 20px;
    background-color: #f8f9fa;
    min-height: 100vh;
    box-sizing: border-box;
}

.main-content .header h1 {
    font-size: 28px;
    color: #343a40;
    margin-bottom: 10px;
}

.main-content .header p {
    font-size: 18px;
    color: #6c757d;
}
